@import "/home/sergey/Desktop/system/css/fonts_new.scss";
@import "/home/sergey/Desktop/system/css/util/media_new.scss";
@import "/home/sergey/Desktop/system/css/util/interface";
@mixin h3(){
  @include border();
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(4);
  text-align-last: left;
  margin: 0;
}
@mixin disabledSelect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin disabledSelectText(){
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin padding(){
  box-sizing: border-box;
  padding: 1vw;
}

@mixin border-bottom() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}
@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

@mixin sectionInput() {
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:host{
  width: 100%;
  margin: auto;
}
section#player-faucet{
  @include disabledSelectText();
  @include display(row, nowrap, start, stretch, stretch);
  box-sizing: border-box;
  padding: 1vw;
  div#wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    border-radius: 0.5vw;
    box-sizing: border-box;
    padding: 1vw;
    div#faucet{
      display: flex;
      align-self: start;
    }
    div#info{
      box-sizing: border-box;
      margin: 0.25vw;
      border-radius: 0.5vw;
      box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
      height: 100%;
    }
  }

  div#items{
    @include display(column, wrap,start, center, stretch);
    flex-grow: 1;
    align-self: stretch;
    box-sizing: border-box;
    border-radius: 0.5vw;
    //box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    margin: 0 0.25vw;
    div.item{
      @include display(row, nowrap, space-evenly, center, stretch);
      flex-basis: 3vw;
      width: 100%;
      margin-bottom: 0.5vw;
      &:last-child{
        margin-bottom: 0;
      }
      //flex-grow: 1;
      //flex-grow: 1;
    }
    div#decoration{
      @include display(column, wrap,start, center, stretch);
    }
  }
}