@import "/home/sergey/Desktop/telegram/css/fonts_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/media_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/interface";

@mixin label(){
  @include display(column, nowrap, space-between, center, stretch);
  p{
    @include p();
  }
  input{
    font-family: Roboto, serif;
    @include fonts(6);
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    border: .1vw solid #acb2b5;
    margin-bottom: 1vw;
    justify-content: center;
  }
  textarea{
    resize:none;
    width: 100%;
    height: 6vw;
    box-sizing: border-box;
  }
  button{
    @include border();
    font-family: Roboto, serif;
    @include fonts(8);
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    box-sizing: border-box;
    padding: 2vw;
    text-align: center;
    text-align: -webkit-center;
    align-items: center;
  }
}

@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(8);
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}
:host{
  width: 44vw;
  margin: auto;
  margin-bottom: 3vw;
}
section{
  label{
    @include label();
  }
  div#content{

    div.content{
      white-space: pre-wrap;
      font-family: Roboto, serif;
      @include fonts(4);
    }
  }
  div#player{
    p{
      @include p();
      width: 62%;
      margin: auto;
      box-sizing: border-box;
      padding: 2vw;
      margin-top: 2vw;
    }
    @include border();
    div.player{

      img.player{
        margin: 2vw;
      }
    }
  }
}